<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Your Market.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9AF5C9062F33DAB900BF85CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF5C9152F33DABB00BF85CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9AF5C91F2F33DABB00BF85CB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
